name: Second Server Deploy

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

    - name: Executing remote command
      uses: appleboy/ssh-action@master
      with:
        host: 139.162.159.187
        USERNAME: root
        PASSWORD: 5Noyabr2022
        PORT: 22
        script: |
          cd ~
          cd HR_Agrozamin
          git pull origin main
          
          docker-compose down
          docker-compose build
          docker-compose up
      
      